:root {
    --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', sans-serif;
    --black: #000000;
    --darkgray: #231f20; 
    --white: #ffffff; 
    --blue: #008edb; 
    --red: #e70000; 
    --ltgray: #e9ecef; 
    --brown: #8a6e4b; 
    --beige: #f1efd9; 
    --pink: #eb80a8; 
    --dkgray: #495057;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    margin: 0px; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /** typography **/

  body {
      font-family: var(--font-sans-serif);
      color: var(--darkgray);
  
      }

  h1, h2, h4 {
      font-family: var(--font-sans-serif);
      /* color: var(--darkgray);     */
      font-weight: 700;
  }

  h1 {
      line-height: 1.2;
      font-size: 3rem;
      background: var(--pink);
      color: var(--white);
  }

  h2 {
    line-height: 1;
    font-size: 1.75rem; 
}
/*dont need h3 later*/
h3 {
    background: yellow; 
    padding: 10px; 
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    line-height: 1; 
    font-size: 2rem; 
}

a {
  text-decoration: none; 
  color: var(--darkgray); 
}

ul {
  list-style-type: none;
}

li {
  color:var(--darkgray);
}

/* img {
    max-width: 100%; 
    display: block; 
} */

/** .component **/

.component img {
    max-width: initial; 
}

/** side nav **/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--ltgray);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font: var(--font-sans-serif);
  font-weight: 700;
  font-size: 1.2srem;
  line-height: 3rem; 
}

.sidenav a:link {
  color: var(--darkgray);
}

.sidenav a:visited {
  color: var(--pink);
}


/** hero **/
  .hero {
    display: flex;
    margin-top: 130px;

  }
  
  .hero_image img {
      width: 100%; 
      height: 100%; 
  } 
  
  .hero_container {
      font-family: var(--font-sans-serif);
      font-weight: 600;
      font-size: 1.2rem; 
      background: var(--pink); 
      color: var(--white); 
      line-height: 1.7;
      padding: 20px; 
    }

    .hero_text {
      margin-right: 20px; 
    }

button {   
  background: var(--pink);
    border: solid var(--white) 2px; 
    border-radius: 8px;
    color: white; 
    padding: 15px; 
    margin: 20px; 
    text-align: center; 
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Navbar container */
.navbar {
    /* overflow: hidden; */
    background-color: var(--white);
    width: auto; 
    position: fixed;     /*this and the "top/left" css fix the navbar to the top of the screen when scrolling*/
    top: 0px;
    left:0; 
    z-index: 10; 
    display: flex; 
    width: 100%;
  }

  .navbar_left {
    display: flex;
  }
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: var(--darkgray);
    text-align: center;
    text-decoration: none;
  }

  /* navbar icons container */
.nav-icons {
padding: 14px;   
margin-top: 10px;
}

/* navbar icons */
.fa {
  color: var(--white);
}

.icon-background--map {
    color: var(--blue);
  }

.icon-background--user {
    color: var(--brown);
  }

.icon-background--cart {
    color: var(--red);
  }

.icon-background--search {
    color: var(--b);
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown_container {
    margin-top: 10px; 
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--darkgray);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--red);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--darkgray);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a red color to dropdown links on hover */
  .dropdown-content a:hover {
    color: var(--red);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Main Products*/
.products-container {
  border: green 2px solid; 
  display: flex; 
  align-content: center;
  justify-content: center;
  padding: 15px; 
}

.products-container a {
  color: var(--darkgray);
}

.products-container a:hover {
  color: var(--blue) !important; 
}

.text-container {  
  display: flex;  
  flex-wrap: wrap; 
  text-align: center; 
  line-height: 0.9rem;
}

  .text-container img { 
    width: 50%; 
  }

  .price {
    font-size: 1.3rem; 
  } 

/*Location*/
.locations_container {
  background-color: var(--darkgray);
  width: 100%;
  padding: 15px; 
  margin-right: auto;
  margin-left: auto; 
  text-align: center; 
}

.locations_container h4 {
  color: var(--white);
  font-weight: 800; 
}

.locations_container p { 
color: var(--ltgray);
font-weight: 700;
line-height: 1.7rem; 
}

.locations_form {
  padding: 4px 12px 5px; 
}

.locations_form input {
  border-radius: 5px;
  width: 120px; 
  padding: 8px; 
  font-weight: 700;
}

.locations_button button {
  border-radius: 5px;
  padding: 8px; 
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700; 
  width: 50px;  
}

.button_container {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.logos_container {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.logos_container img {
  max-width: 70%;  
}

/*Review*/
.review {
  display: flex; 
  align-content: center; 
  justify-content: center; 
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: var(--darkgray);
  font-weight: 700;  
  font-size: 0.75rem; 
  line-height: 1.7; 
}

.signature {
color: var(--dkgray);
font-size: 0.64rem; 
font-style: italic;
display: flex; 
}

.review img {
  margin: 18px;
  width: 60px;
  height: 60px;
}

.review_container1 {
  display: flex; 
  flex: 0 0 50%;
  max-width: 50%;
  margin: 5px; 
  align-content: center; 
  justify-content: center; 
}

.review_container2 {
  display: flex; 
  flex: 0 0 50%;
  max-width: 50%;
  margin: 5px;
  align-content: center; 
  justify-content: center; 
}

/*Social*/

   .social--friends {
     color: white;
     background: var(--blue);
     text-align: center;
     padding: 15px;  
   }

   .social--love {
     text-align: center;
   }

   .social--icons {
    display: flex;
    justify-content: center;
   }

   .social--icons .fa {
    color: var(--darkgray);
    font-size: 1.7rem;
    padding: 20px; 
   }

  .social_container {
    display: flex; 
  }

   .social img {
     max-width: 100%; 
     display: flex; 
   }

/*Footer*/
.footer {
  background: var(--red);  
}

.footer_tagline {
  display: flex; 
  align-content: center; 
  justify-content: center;
  color: white; 
  padding-top: 10px; 
}

.links_container {
  display: flex; 
  align-content: center; 
  justify-content: center;
  padding: 80px; 
  padding-top: 10px; 
  line-height: 2.0rem; 
  font-weight: 700; 
  font-size: 0.8rem;
}

.footer a:hover {
  color: black; 
}

.list_header {
  font-weight: 900; 
}

a {
  color: white; 
}

.group { 
  display: flex; 
  flex: 0 0 25%;
  max-width: 25%;
  color: white; 
}
  
.footer_logo {
  display: flex; 
  align-content: center; 
  justify-content: center;
  padding-bottom:20px; 
}

.footer_logo img {
  width: 200px; 
  height: 185px; 
}

.customer-service {
  margin: 40px; 
  color: white; 
}

.service-h6 {
  font-weight: 800;
  font-size: 1.0rem;  
}

.white {
  color: white; 
  text-decoration: underline;
}

.footer_customerservice {
  display: flex;  
}
.footer_social--icons {
  display: flex;
  justify-content: left; 
}

.footer_social--icons .fa {
  margin-left: 40px; 
  padding: 10px; 
  font-size: 1.5rem; 
}

.bcorp {
  position: absolute;
  right: 0;
  margin-top: 30px;  
  margin-right: 20px;
}

.bcorp img {
  width: 95px;
  height: 125px;
}

.footer_copyright {
  display: flex; 
  justify-content: center;
  color: white; 
  font-size: 0.8rem; 
  font-weight: 700; 
}

