:root {
    --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', sans-serif;
    --black: #000000;
    --darkgray: #231f20; 
    --white: #ffffff; 
    --blue: #008edb; 
    --red: #e70000; 
    --ltgray: #e9ecef; 
    --brown: #8a6e4b; 
    --beige: #f1efd9; 
    --pink: #eb80a8; 
    --dkgray: #495057;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /** typography **/

  body {
      font-family: var(--font-sans-serif);
      color: var(--darkgray);
      margin: 20px; 
  }

  h1, h2, h4 {
      font-family: var(--font-sans-serif);
      color: white;    
      font-weight: 700;
      background: orange; 
  }

  h1 {
      line-height: 1.2;
      font-size: 3rem;  
  }

  h2 {
    line-height: 1;
    font-size: 1.75rem;  
    
}
h4 {
    line-height: 1; 
    font-size: 2rem; 
}

.heading_black {
    color: black; 
}

img {
    max-width: 100%; 
    display: block; 
}

/** .component **/

.component img {
    max-width: initial; 
}

.component_image {
    border: solid #ccc 3px;
    overflow-x: auto; 
}

.component_code {
    border: solid blue 3px; 
}

.hero_code {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 1.2rem; 
    background: var(--pink); 
    color: var(--white); 
    line-height: 1.7; 
}