<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components &#9749; Peace Coffee </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="hero">
        <h3 class="hero_body">Hero</h3>
        <img srcset="img/hero_text.png 2x" src="img/hero_text.png" alt="hero copy" />

        <div class="hero_code">
            <p>It's been a week. With Daylight Savings Time messing up our schedules and the election still up in the
                air, we're ready for a few treats and a nice, big cup of coffee. Enter National Donut Day 2.0!! In honor
                of these delicious rings of comfort and joy, we're offering a treat of a deal all weekend long: 10% off
                + Free Shipping on orders $20+!</p>
        </div>
    </article>

    <article class="hero">
        <h3 class="hero_button">Hero Atom</h3>
        <img srcset="img/hero_button.png 2x" src="img/hero_button.png" alt="hero button" />

        <div class="hero_code">
            <p>Use Code 10FOR20 at Checkout!</p>
        </div>
    </article>

    <article class="hero">
        <h3 class="hero_image">Hero Atom</h3>
        <img srcset="img/hero_image.png 2x" src="img/hero_image.png" alt="hero image" />
    </article>


</body>

</html>