<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components &#9749; Peace Coffee </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component_body">Hero</h3>
        <div class="component_image">
            <img srcset="img/hero_text.png 2x" src="img/hero_text.png" alt="hero copy" />
        </div>

        <div class="component_code">
            <p>It's been a week. With Daylight Savings Time messing up our schedules and the election still up in the
                air, we're ready for a few treats and a nice, big cup of coffee. Enter National Donut Day 2.0!! In honor
                of these delicious rings of comfort and joy, we're offering a treat of a deal all weekend long: 10% off
                + Free Shipping on orders $20+!</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component_headings">Headings (h1, h2, h4)</h3>
        <div class="component_image">
            <img srcset="img/hero_header.png 2x" src="img/hero_header.png" alt="h1" />
            <img srcset="img/main_header.png 2x" src="img/main_header.png" alt="h2" />
            <img srcset="img/main_headertree.png 2x" src="img/main_headertree.png" alt="h2" />
            <img srcset="img/main_headerethiopia.png 2x" src="img/main_headerethiopia.png" alt="h2" />
            <img srcset="img/footer_header.png 2x" src="img/footer_header.png" alt="h2" />
            <img srcset="img/locations_header.png 2x" src="img/locations_header.png" alt="h4" />
            <img srcset="img/social_header.png 2x" src="img/social_header.png" alt="h4" />
            <img srcset="img/social_header2.png 2x" src="img/social_header2.png" alt="h4" />
        </div>

        <div class="component_code">
            <h1>The Joy of Donuts &amp; Coffee</h1>
            <h2 class="heading_black">Peru</h2>
            <h2 class="heading_black">Tree Hugger</h2>
            <h2 class="heading_black">Ethiopia</h2>
            <h2>Roasting fair trade, organic coffee in the heart of Minneapolis since 1996.</h2>
            <h4>Find Peace Coffee</h4>
            <h4>Let's be friends.</h4>
            <h4 class="heading_black">Love coffee with us!</h4>

        </div>
    </article>


</body>

</html>